h1,h2{
    text-align: center;
    font-family: 'Times New Roman';
}

a{
    color:black;
}

body{
    margin: 150;
	padding: 50;
    background-color: lightgray;
}

code{
    background-color:rgb(255, 255, 255);
}